<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Forgot password</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="login ml-5 mt-5 col-md-6">
                <form action="/resetpass" id="forgotpass" method="POST">
                    <h4>Welcome to Expense Tracker Forgot password</h4>
                    <hr>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email">
                    <hr>
                    <button type="submit" class="registerbtn">Reset password</button>
                    <div class="mt-2">
                        <p>Go to <a href="/login">login</a>.</p>
                        <p>Already have an account? <a href="/register">register</a>.</p>
                    </div>
            </div>
            </form>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/auth.js"></script>

</html>