<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>genrate new password</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="login ml-5 mt-5 col-md-6">
                <form id="genratepass" method="POST">
                    <h4>Welcome to Expense Tracker Genrate new password</h4>
                    <hr>
                    <label for="newpass"><b>Enter New password</b></label>
                    <input type="password" placeholder="Enter new password" name="newpass" id="newpass">
                    <label for="confpass"><b>confirm password</b></label>
                    <input type="text" placeholder="confirm password" name="confpass" id="confpass" required>
                    <hr>
                    <button type="submit" class="registerbtn">Generate</button>
                    <div class="mt-2">
                        <p>Go to <a href="/login">login</a>.</p>
                        <p>Already have an account? <a href="/register">register</a>.</p>
                    </div>
            </div>
            </form>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/auth.js"></script>
</html>