<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Here</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="login ml-5 mt-5 col-md-6">
                <form action="/login" method="POST">
                    <h1>login In Expense Tracker</h1>
                    <% if(message){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Ohh snap!</strong> <%- message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    <% } %>
                    <hr>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" id="psw" required>
                    <a href="/forgotpass">forgot password??</a>
                    <hr>
                    <button type="submit" class="registerbtn">Login</button>
                    <div class="mt-2">
                        <p>Already have an account? <a href="/register">register</a>.</p>
                    </div>
            </div>
            </form>
        </div>
    </div>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/auth.js"></script>
</html>