<div class="container-fluid">
    <h4 class="mt-4 h3">View All Company</h4>
  <table
    id="datatables-dashboard-projects"
    class="table mt-5 table-striped my-0 dataTable no-footer"
  >
    <thead>
      <tr role="row">
        <th>Sno.</th>
        <th>Company name</th>
        <th>Join data</th>
        <th>Since</th>
        <th>degination</th>
        <th>Salery</th>
        <th>remark</th>
        <th>status</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>

</div>
